#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f1f1f1;
}

.form-row {
  display: flex;
  gap: 1rem;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 3px;
}

.icon {
  color: black;
  margin: 4px;
  flex-grow: 0;
}

.text-input {
  background-color: transparent;
  border: none;
  color: black;
}
